body {
    background-color: white;
    max-zoom: 500px;
    margin:15px;

}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    padding-bottom: 60px;
    position: relative;
}

.logo {
    width: 300px;
    height: 100px;
    border-radius: 80px
}

.left-side {
    text-transform: capitalize;
    width: 100%;
}

.right-side {
    display: flex;
    width: 100%;
}

.nav-wrapper>.right-side>div {
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 2em;
}

.nav-wrapper-link {
    font-weight: 20px;
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

.nav-wrapper-link a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    transition: color 0.5s;
}

.nav-wrapper-link :hover {
    border-bottom: 1px solid black;
}

.nav-wrapper-link a:hover {
    color: black;
}

.dashboard-aage {
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 0px;
    padding-bottom: 60px;
    font-size: 18px;
}

.imageback {
    height: 51px;
    width: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image {
    height: 60px;
    width: 15%;
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left: 250px;
    padding-top: 51px;
    padding-bottom: 100px
}

.dashboard-aage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 25px;
    

}

.cured>.image {
    padding-left: 250px;
}

.dashboard-aage {
    position: relative;
    font-size: 23px;
}
.dashboard-aage p {
    padding-left: 10%;
    height: auto;
    width: 375px;
    padding-bottom: 0px;
}

.totalcase {
    border: 0.5px solid transparent;
    background-color: aqua;
    border-top-left-radius: 15px;
    border-radius: 20px;
    position: relative;left: 30px; top: 10px;

}
.activecases {
    border: 0.5px solid transparent;
    background-color: rgb(255, 102, 0);
    border-top-left-radius: 15px;
    border-radius: 20px;
    margin-left: 00px;
    position: relative; right:0px;left: 60px;top: 10px;

}

.totaldeaths {
    border: 0.05px solid transparent;
    background-color: red;
    border-top-left-radius: 15px;
    border-radius: 20px;
    position: relative;left: 30px; top:10px

}

.cured {
    border: 0.5px solid transparent;
    background-color: rgb(183, 0, 255);
    border-top-left-radius: 15px;
    border-radius: 20px;
    align-items: right;
    position: relative;left: 30px; top: 10px;
}

.deathrate {
    border: 0.5px solid transparent;
    background-color: #FFFF00;
    border-top-left-radius: 15px;
    border-radius: 20px;
    position: relative; right:0px;left: 60px;top: 10px;

}

.recoveryrate {
    border: 0.5px solid transparent;
    background-color: rgb(30, 255, 0);
    border-top-left-radius: 15px;
    border-radius: 20px;
    position: relative; right:0px;left: 60px;top: 10px;
}
.informative{
    width: 100%;
    height: 500px;
    display: none;
}
.breif-summary>h1 {
    text-transform: uppercase;
    font-weight: 30px;
}

.breif-summary>h1 {
    text-align: center;
}

.breif-summary>p {
    width: 100%;
    text-align: justify;
}

.maincontent>.breif-summary>iframe {
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: 500px;
    padding-bottom: 20px;
}

.image1 {
    width: 100%;
    height: 500px;
    background-size: cover;
}



.video2 {
    width: 100%;
    height: 550px;
    padding-top: 20px;
    padding-bottom: 20px
}

.helpline {
    text-transform: uppercase;
    font-size: 2em;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

.helpline a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    transition: color 0.5s;
}

footer {
    font-size: 30px;
}

.helpline:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.helpline a:hover {
    color: rgb(3, 3, 3);
}


