body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(248, 248, 248);
    max-zoom: 500px;
    padding: 15px;

}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 60px;
    position: relative;
}

.logo {
    width: 300px;
    height: 100px;
    border-radius: 80px
}



.left-side {
    text-transform: capitalize;
    width: 100%;
}

.right-side {
    display: flex;
    width: 100%;
}

.nav-wrapper>.right-side>div {
    text-transform: uppercase;
    font-size: 2em;
}
header{
    display: inline;
    padding: 10px;
}

.nav-wrapper-link{
    padding-left: 20px;
    padding-right: 20px;
}
.nav-wrapper-link {
    font-weight: 20px;
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}
.nav-wrapper-link a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.5s;
}

.nav-wrapper-link :hover {
    border-bottom: 1px solid rgb(167, 39, 0);
}

.nav-wrapper-link a:hover {
    color: rgb(255, 0, 0);
}

.dashboard-aage {
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 0px;
    padding-bottom: 60px;
}

.imageback {
    height: 51px;
    width: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image {
    height: 60px;
    width: 20%;
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left: 230px;
    padding-top: 88px;
    padding-bottom: 90px
}

.dashboard-aage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dashboard-aage>div {
    color: white;
}

.dashboard-aage {
    position: relative;
}

.number {
    position: relative;
    font-size: 50px;
    bottom: 20px;
    left: 20px;
}

.text {
    position: relative;
    left: 20px;
    font-size: 12px;
    bottom: 40px;
}

.totalcase {
    border: 0.5px solid transparent;
    background-color: blue;
    border-top-left-radius: 15px;
    border-radius: 20px;
    position: relative;
    left: 30px;
    top: 10px;
    width: 305px;
}

.activecases {
    border: 0.5px solid transparent;
    background-color: rgb(0, 202, 202);
    border-top-left-radius: 15px;
    border-radius: 20px;
    margin-left: 00px;
    position: relative;
    left: 80px;
    top: 10px;
    width: 305px;
}

.totaldeaths {
    border: 0.05px solid transparent;
    background-color: red;
    border-top-left-radius: 15px;
    border-radius: 20px;
    position: relative;
    left: 30px;
    top: 10px;
    width: 305px;
}

.cured {
    border: 0.5px solid transparent;
    background-color: rgb(107, 107, 107);
    border-top-left-radius: 15px;
    border-radius: 20px;
    align-items: right;
    position: relative;
    left: 30px;
    top: 10px;
    width: 305px;
}

.deathrate {
    border: 0.5px solid transparent;
    background-color: #bd00df;
    border-top-left-radius: 15px;
    border-radius: 20px;
    position: relative;
    right: 0px;
    left: 80px;
    top: 10px;
    width: 305px;
}

.recoveryrate {
    border: 0.5px solid transparent;
    background-color: rgb(22, 175, 22);
    border-top-left-radius: 15px;
    border-radius: 20px;
    position: relative;
    right: 0px;
    left: 80px;
    top: 10px;
    width: 305px;
}

.informative {
    width: 100%;
    height: 500px;
    display: none;
}

.breif-summary>h1 {
    text-transform: uppercase;
    font-weight: 30px;
}

.breif-summary>h1 {
    text-align: center;
}
.image1{
    padding: 10px;
}

.breif-summary>p {
    width: 98%;
    text-align: justify;
    left: 1%;
    right: 1%;
}

.image1 {
    width: 100%;
    height: 500px;
    background-size: cover;
}


.helpline {
    text-transform: uppercase;
    font-size: 2em;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

.helpline a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    transition: color 0.5s;
}

footer {
    font-size: 30px;
}

.helpline:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.text {
    font-size: 25px;
}

.helpline a:hover {
    color: rgb(3, 3, 3);
}

@media only screen and (min-width:768px) {
    .video1 {
        width: 640px;
        height: 360px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .nav-wrapper>.right-side>div {
        font-size: 30px;
        padding-right: 12px;
    }
    body {
        margin: 11px 5px;
    }
    .breif-summary>h1 {
        text-align: center;
        font-size: 3em;
    }
    .breif-summary>p {
        text-align: justify;
        font-size: 30px;
    }
    .helpline {
        position: relative;
        text-align: center;
        font-size: 40px
    }
    .image1 {
        display: block;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (min-width:1100px) {
    .dashboard-aage {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
        right: 5%;
        left: 5%;
    }
    .totalcase {
        border: 0.5px solid transparent;
        border-top-left-radius: 15px;
        border-radius: 20px;
        position: relative;
        left: 20px;
        top: 10px;
    }
    .activecases {
        border: 0.5px solid transparent;
        border-top-left-radius: 15px;
        border-radius: 20px;
        margin-left: 00px;
        position: relative;
        left: 20px;
        right: 20px;
        top: 10px;
    }
    .totaldeaths {
        border: 0.05px solid transparent;
        border-top-left-radius: 15px;
        border-radius: 20px;
        position: relative;
        left: 30px;
        top: 10px;
    }
    .cured {
        border: 0.5px solid transparent;
        background-color: rgb(183, 0, 255);
        border-top-left-radius: 15px;
        border-radius: 20px;
        align-items: right;
        position: relative;
        left: 20px;
        top: 10px;
    }
    .deathrate {
        border: 0.5px solid transparent;
        border-top-left-radius: 15px;
        border-radius: 20px;
        position: relative;
        left: 20px;
        right: 20px;
        top: 10px;
    }
    .recoveryrate {
        border: 0.5px solid transparent;
        border-top-left-radius: 15px;
        border-radius: 20px;
        position: relative;
        left: 30px;
        right: 10px;
        top: 10px;
    }
    .image1 {
        left: 15%;
        right: 15%;
        width: 70%;
        position: relative;
        align-items: center;
    }
    .breif-summary>p {
        left: 15%;
        right: 15%;
        position: relative;
        text-align: justify;
        padding-left: 0px;
        padding-right: 100px;
        width: 70%;
    }
    .informative {
        position: relative;
        align-items: center;
        display: block;
        width: 90%;
        left: 5%;
        right: 5%;
        top: 5px;
        bottom: 10px;
    }
    .update {
        left: 60%;
    }
    .video1 {
        width: 70%;
        height: 550px;
        padding-bottom: 20px;
        left: 15%;
        right: 15%;
    }
}